<% title "Items on Category '#{@category.title}'" %>

<div id="items">
  <p><%= link_to "New Item on Category '#{@category.title}'", new_admin_item_path(:category_id => @category.id), :class => "btn btn-default" %></p>

  <table class="table table-striped table-hover sortable">
    <thead>
      <tr>
        <th class="col-lg-1"></th>
        <th class="col-lg-1">Id</th>
        <th class="col-lg-6">Title</th>
        <th class="col-lg-2">Category</th>
        <th class="col-lg-2">Created At</th>
      </tr>
    </thead>

    <tbody data-update-url="<%= reorder_admin_items_url %>">
      <% @items.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td class="handle"><i class="icon-list"></i></td>
          <td><%= link_to item.id, [:admin, item] %></td>
          <td><%= link_to item.title, [:admin, item] %></td>
          <td><%= render_label item.category.title, :tags %></td>
          <td><%= item.created_at.to_s(:datetimedb) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>