<% title "Items" %>

<div id="items">
  <p><%= link_to "New Item", :new_admin_item, :class => "btn btn-default" %></p>

  <table class="table table-striped table-hover sortable">
    <thead>
      <tr>
        <th class="col-lg-1"></th>
        <th class="col-lg-1">Id</th>
        <th class="col-lg-7">Title</th>
        <th class="col-lg-1">Position</th>
        <th class="col-lg-2">Created At</th>
      </tr>
    </thead>

    <tbody data-update-url="<%= reorder_admin_items_url %>">
      <% @items.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td class="handle"><i class="icon-list"></i></td>
          <td><%= link_to item.id, [:admin, item] %></td>
          <td><%= item.title %></td>
          <td><%= item.position %></td>
          <td><%= item.created_at.to_s(:datetimedb) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate(@items, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-right") %>
</div>