<% title "Item > #{@item.title}" %>

<div class="row item">
  <div class="col-md-4 info">
    <h2 class="font_title"><%= @item.title %></h2>
    <div class="intro">
      <%= @item.intro.to_md %>
    </div>
    <div class="text">
      <%= @item.text.to_md %>
    </div>
  </div>
  <div class="col-md-8 pics">
    <ul>
      <% @item.pics.by_position.each do |pic| %>
        <li>
          <%= image_tag pic.attach(:front_big) %>
          <!-- <p><%= pic.title %></p> -->
        </li>
      <% end %>
    </ul>
  </div>
</div>

