<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col-lg-1">Id</th>
      <th class="col-lg-2">Date</th>
      <th class="col-lg-1">Historian</th>
      <th class="col-lg-1">Historizable</th>
      <th class="col-lg-2">Tags</th>
      <th class="col-lg-5">Text</th>
    </tr>
  </thead>

  <tbody>
    <% log_book_events.each do |log_book_event| %>
      <tr>
        <td><%= log_book_event.id %></td>
        <td><%= log_book_event.created_at.to_s(:datetimedb) %></td>
        <td><%= log_book_event.historian ? link_to(log_book_event.historian.id, [:admin, log_book_event.historian]) : "-" %></td>
        <td><%= log_book_event.historizable ? link_to(log_book_event.historizable.id, [:admin, log_book_event.historizable]) : "-" %></td>
        <td><%= render_labels log_book_event.tag_list, :tags %></td>
        <td><%= log_book_event.text.to_md %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(log_book_events, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-right") %>