<%= form_for [:admin, @admin_user], :html => { :class => "form-horizontal" } do |f| %>
  <%= render "/shared/form_errors", :object => f.object %>

  <fieldset>
    <legend><%= "Admin attributes" %></legend>

    <div class="form-group">
      <%= f.label :name, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :email, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.password_field :password, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-offset-2 col-lg-10">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
