<% title "Reset your password" %>

<%= form_for [:admin, @admin_user], :url => admin_reset_password_path, :html => { :class => "form-horizontal" } do |f| %>
  <%= render "/shared/form_errors", :object => f.object %>

  <legend><%= "Fill the form with your new desired password" %></legend>

  <div class="form-group">
    <%= f.label :password, :class => "col-lg-2 control-label" %>

    <div class="col-lg-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="icon-lock"></i></span>
        <%= f.password_field :password, :class => "form-control", :type => "password" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class => "col-lg-2 control-label" %>

    <div class="col-lg-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="icon-lock"></i></span>
        <%= f.text_field :password_confirmation, :class => "form-control", :type => "password" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="controls">
      <%= f.submit "User this new password", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
