<%= form_for [:admin, @category], :html => { :class => "form-horizontal" } do |f| %>
  <%= render "/shared/form_errors", :object => f.object %>

  <fieldset>
    <legend><%= "Category attributes" %></legend>

    <div class="form-group">
      <%= f.label :title, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :title, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :text, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_area :text, :class => "form-control mdm-input" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-offset-2 col-lg-10">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>

