<meta charset="utf-8">

<title>MintegiMoves | <%= content_for?(:title) ? yield(:title) : "" %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/png" href="/assets/app/shared/skull.png">

<meta name="description" content="Taller de artes aplicadas, servicio, cursos y obra de autor en Mallorca.">
<meta name="keywords" content="restauración mueble, ilustración, escultura, diseño gráfico, murales, artes plásticas, artista, artesanía, cursos, mallorca, regalos, efectos especiales">
<meta http-equiv="content-language" content="es">

<meta name="copyright" content="Estibaliz Mintegi">
<meta name="author" content="Estibaliz Mintegi">
<meta name="Distribution" content="Global">
<meta name="Rating" content="General">
<meta name="Robots" content="INDEX,FOLLOW">

<%= javascript_include_tag "/assets/vendor/jquery/jquery.js" %>
<%= javascript_include_tag "/assets/vendor/jquery/jquery.ui.js" %>
<%= javascript_include_tag "/assets/vendor/rails/jquery_ujs.js" %>
<%= stylesheet_link_tag "/assets/vendor/etc/reset.css" %>

<!-- bootstrap -->
<%= javascript_include_tag "/assets/vendor/bootstrap/js/bootstrap.min.js" %>
<%= stylesheet_link_tag "/assets/vendor/bootstrap/css/bootstrap.min.css" %>

<!-- nito-slider -->
<%= javascript_include_tag "/assets/vendor/nivo-slider/jquery.nivo.slider.js" %>
<%= stylesheet_link_tag "/assets/vendor/nivo-slider/nivo-slider.css" %>
<%= stylesheet_link_tag "/assets/vendor/nivo-slider/themes/default/default.css" %>

<!-- application -->
<%= stylesheet_link_tag "/assets/app/front/css/front.css", :media => "all" %>
<%= stylesheet_link_tag "/assets/app/front/css/fonts.css", :media => "all" %>
<%= javascript_include_tag "/assets/app/front/js/front.js" %>

<%= csrf_meta_tag %>
<%= yield(:head) %>
